[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:rujews/maupassant-hugo.git
[submodule "content/post"]
	path = content/post
	url = git@github.com:zhaolion/post.git
[submodule "themes/lion"]
	path = themes/lion
	url = git@github.com:zhaolion/maupassant-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/no-style-please"]
	path = themes/no-style-please
	url = git@github.com:Masellum/hugo-theme-nostyleplease.git
[submodule "themes/hugo-cards"]
	path = themes/hugo-cards
	url = https://github.com/bul-ikana/hugo-cards
[submodule "dist/public"]
	path = dist/public
	url = git@github.com:zhaolion/zhaolion.github.io.git
